# TFM
# Modelo Sarima

Realizado por: Luis Rendón  <br>
Fecha: DIC/2022

### Importación de librerias necesarias

In [1]:
import pandas as pd

### Cargar el Dataset

In [2]:
# Specify the path to your Excel file
file_path = "https://github.com/huambra/Predicting-Shrimp-Exports/raw/refs/heads/main/Exports%20por%20Mercado.xlsx"

# Read the Excel file
df = pd.read_excel(file_path, sheet_name="Unpivot")

# Display the first few rows of the dataframe
print(df.head())

                  Date  China   USA    UE
0  2012-12-01 00:00:00     19   291    75
1  2013-01-01 00:00:00    740  4119  4241
2  2013-02-01 00:00:00    380  5844  5407
3  2013-03-01 00:00:00    459  6929  7510
4  2013-04-01 00:00:00    403  7266  7830

In [3]:
df

                    Date    China      USA       UE
0    2012-12-01 00:00:00       19      291       75
1    2013-01-01 00:00:00      740     4119     4241
2    2013-02-01 00:00:00      380     5844     5407
3    2013-03-01 00:00:00      459     6929     7510
4    2013-04-01 00:00:00      403     7266     7830
..                   ...      ...      ...      ...
137  2024-05-01 00:00:00    68663    24101    18514
138  2024-06-01 00:00:00    60804    14983    17458
139  2024-07-01 00:00:00    49431    15963    20369
140  2024-08-01 00:00:00    57168    16503    17653
141        Total general  3217398  1517552  1483861

[142 rows x 4 columns]

### Caracteristicas del Dataset (EDA)

### Preprocesamiento del Dataset
aqui hay que hacer hasta dividir los 3 datasets por pais listos para que se puedan modelar en cualquiera de lso 3 modelos. Para ciertos modelos peude haber mas preprocesamiento eso es cuestion de cada uno.

In [4]:
# dividir el df por paises y establecer la fecha el indice

### División del Dataset en Datos de Entrenamiento y Datos de Testeo

In [5]:
#dividir en entrenamiento
#dividir en test
# prueba dos

### Modelado de datos

In [6]:
###prueba 3 jose xavier

### Evaluación de Modelo

In [ ]:
#3 metricas de evaluacion

### Fine-Tuning de Modelo

### Evaluación Final de Modelo

### Comparación del Desempeño de Modelos

In [7]:
# 9 comparaciones 
# 3 paises y 3 modelos